@page
@model DarkWar_WebApp.Pages.HomepageModel
@{
    <h2 class="text-light">Homepage</h2>

    <div class="d-flex flex-column gap-3 mt-4 a">
        <a asp-page="/AddPlayer" class="btn btn-dark btn-lg">➕ Add Player</a>
        <a asp-page="/Overview" class="btn btn-dark btn-lg">📋 Player Overview</a>
        <a asp-page="/Chat" class="btn btn-dark btn-lg">💬 Chat</a>
        <a asp-page="/PersonalNotes" class="btn btn-dark btn-lg">⚙️ Personal Notes</a>
    </div>
}
