/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: start;
  word-break: break-all;
}

nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #1E1E1E;
}

.left-section {
    display: flex;
    align-items: center;
    min-height: 75px;
    color: #830BC9;
}

.collapse {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 25px;
}
.collapse.nav-link {
    color: #830BC9;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #830BC9;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #a935f8;
  background-color: #af5dd5;
  border-color: #FFF;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

select.watchtower-select {
    background-color: #212529; /* entspricht bg-dark */
    color: #f8f9fa; /* entspricht text-light */
    border: none;
}